<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>


    <%- include('partials/navbar')  %>

    <%- include('partials/flash')  %>

   <section class="userAbout">
    <div class="main">
        <h1>My Todos</h1>
        <% if (Array.isArray(todos)) {%>
            <% for(let todo of todos) { %>
        <div class="todo">
            <a href="/<%= todo._id %>"><i class="fa-solid fa-clipboard-list"></i></a>
           
            <div class="detail">
            <h2><%= todo.title  %> </h2>
            <h3><%= todo.desc  %> </h3>
            <h4><%= todo.schedule.toDateString() %></h4>
        </div>
        <form action="/<%=todo._id%>?_method=DELETE" method="POST">
            <button type="submit"><i class="fas fa-trash"></i></button>
        </form>
        </div>
        <% } %>
        <% } else {%>
            <p><%= todos %> </p>
            <% } %>
    </div>
    <form action="/create" method="POST">
        <h1>Create Todo</h1>
        <input type="text" id="title" name="title" placeholder="enter title">
        <textarea name="desc" id="desc" cols="30" rows="10"></textarea>
        <input type="date" name="schedule">
        <button type="subit" class="btn">Create</button>
    </form>
   </section>


    <%- include('partials/end')  %> 