<%- include('partials/head')  %>
<link rel="stylesheet" href="/css/home.css">
</head>
<body>


    <%- include('partials/navbar')  %>

    <%- include('partials/flash')  %>

    <form action="/auth/reset/<%= token %>" class="homeForm" method="POST">
        <h1>Change password</h1> 
        <div class="inputBox password">
            <input type="password" name="password" id="password" placeholder="enter your password" required>
            <i class="fa-regular fa-eye"></i>
            <i class="fa-regular fa-eye-slash"></i>
            <span class="error" id="passwordError"></span>
        </div>
        <button type="submit" onclick="return validateForm()" class="btn">Change</button>
        <span id="alert"></span>
    </form>


    <script src="/scripts/form.js"></script>

    <script>

const password = document.querySelector('#password');
let validatePassword = false;

        //password validation
password.addEventListener('keyup',function(){
    let passwordError = document.querySelector('#passwordError');
    if(password.value.length === 0){
        passwordError.innerHTML = 'password is required';
        passwordError.style.color = '#ff0f0f';
        //password regex
    }else if(!password.value.match('^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[ -/:-@[-`{-~]).{6,64}$')){
        passwordError.innerHTML = 'password should be 6-64 characters and include 1 letter,1 number and 1 special character';
        passwordError.style.color = '#ff0f0f';
    }else{
        passwordError.innerHTML = 'this is valid syntax';
        passwordError.style.color = '#056608';
        validatePassword = true;
    }
});

//all input values validation before submit
const validateForm = () =>{
    if(!validatePassword){
        const alert = document.querySelector('#alert');
        alert.innerHTML = 'please submit after fix all errors';
        alert.style.color = '#ff0f0f';
        setTimeout(function(){
            alert.style.display = 'none';
        },3000);

        return false;
    }

    return true;
};

    </script>
    <%- include('partials/end')  %> 